{% extends 'layout.html.twig' %}
{% block title %}Add record{% endblock%}
{% block jsScripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/createNewField.js')}}"></script>
{% endblock%}

{% block stylesheetsInclude %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/screenAddRecord.css') }}" />
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    <header>
        <h1>Add new record</h1>
    </header>


    {{ form_start(form, { 'action': path('create_product'), 'method': 'POST', 'attr': {'class': 'create-product'} }) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="field-container">
        {{ form_row(form.name, {'div': {'attr': {'class': 'field-container'}}}) }}
    </div>
    <div class="field-container">
        {{ form_row(form.description) }}
    </div>
    <div class="field-container">
        {{ form_row(form.shortDescription) }}
    </div>
    <div class="field-container">
        {{ form_row(form.category) }}
    </div>
    <div class="field-container">
        {{ form_label(form.characteristics) }}
        <a href="#" id="add-another-characteristic">Добавить</a>

        <ul id="characteristic-fields-list"
            data-prototype="{{ form_widget(form.characteristics.vars.prototype)|e }}">
            <div class="label-name">
                <h1>Название</h1>
            </div>
            <div class="label-value">
                <h1>Значение</h1>
            </div>
            {% for characteristicField in form.characteristics%}
                <div>
                    {{ form_errors(characteristicField) }}
                    {{ form_widget(characteristicField) }}
                </div>
            {% endfor %}
        </ul>
    </div>

    <div class="field-container">
        {{ form_label(form.photos) }}
        <a href="#" id="add-photo">Добавить</a>
        <ul id="photo-fields-list"
            data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
            {% for photo in form.photos %}
                <div>
                    {{ form_errors(photo) }}
                    {{ form_widget(photo) }}
                </div>
            {% endfor %}
        </ul>
    </div>

    <div class="field-container">
        {{ form_label(form.addressList) }}
        <a href="#" id="add-link">Добавить</a>
        <ul id="link-fields-list"
            data-prototype="{{ form_widget(form.addressList.vars.prototype)|e }}">
            {% for link in form.addressList %}
                <div>
                    {{ form_errors(link) }}
                    {{ form_widget(link) }}
                </div>
            {% endfor %}
        </ul>
    </div>

    <input type="submit" value="Submit" id="button-add"/>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var characteristicsCount = '{{ form.characteristics|length }}';
    var photosCount = '{{ form.photos|length }}';
    var addressCount = '{{ form.addressList|length }}';
    listenForCreateField(characteristicsCount, "#add-another-characteristic", "#characteristic-fields-list");
    listenForCreateField(photosCount, "#add-photo", "#photo-fields-list");
    listenForCreateField(addressCount, "#add-link", "#link-fields-list");
</script>
{% endblock %}