{% extends 'layout.html.twig' %}

{% block body %}
    <div class="content">
        <div class="recent-additions green-border">
            <div class="popular-title">
                <div class="badge"></div>
                <p>{{last_added_title}}</p>
            </div>
            {% for element in content_list %}
                <div class="content-element">
                    <div class="description row">
                        <div class="photo col-md-2" >
                            <a href="{{ element.link }}">
                                {% if (element.photo_path) %}
                                    <img src="{{ element.photo_path }}" />
                                {% else %}
                                    <img src="/images/noPhoto.png"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="description-container col-md-9">
                            <div class="caption">
                                <a href="{{ element.link }}">
                                    <h1>{{element.caption}}</h1>
                                </a>
                            </div>
                            <div class="go">
                                <div class="desc-cars">
                                    <h4>{{element.description}}</h4>
                                </div>
                                <div class="characteristics-cars">
                                    {% for characteristic in element.characteristics %}
                                        <div class="characteristic-field col-md-12">
                                            {{characteristic.name}} : {{characteristic.value}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}